.mkdru-search {
  text-align: center;
}

.node-mkdru div {
  margin: 1em 0em;
}

.mkdru-search input[type='text'] {
  width: 80%;
}

.mkdru-results {
  display: none;
}

div.mkdru-results > ul.mkdru-result-list {
  padding: 0;
}

li.mkdru-result {
  list-style-type: none;
}

.mkdru-above-below {
  float: clear;
  border-style: solid none;
  border-width: 1px;
}

.mkdru-status {
  float: right;
}

.mkdru-result a {
  font-weight: bold;
}

.mkdru-detail {
  display: none;
}
